# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3

# Virtual environment
venv/
env/
takawala1/

# Development/Backup files
*.bak
*.swp
*~

# VS Code specific files
.vscode/

# PyCharm specific files
.idea/

# Jupyter Notebook specific files
.ipynb_checkpoints/

# Media files
media/

# Static files
staticfiles/

# Ignore any local .env files
.env

# Ignore database migrations
**/migrations/

# Ignore pipenv virtual environment
Pipfile
Pipfile.lock

# Ignore test database
test_db.sqlite3
